@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {
	color: white;
}

.album-art {
	float: left;
	border: 3px solid red;
	margin: 2em;
	padding: 1em;
	width: auto;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	float: left;
	border: 5px solid red;
	margin: 2em;
	padding: 1em;
	width: auto;
}

.record-label {
	color: red;
	font-style: italic;
}

.track-list {
	color: red;
}

#about-photo {
	float: left;
	border: 3px solid red;
	padding: 1em;
	margin: auto;
	width: auto;
}

#copyright {
	color: red;
}

#section-about, #section-discography, #section-equipment {
	border: 3px solid red;
	margin: 1em;
	padding: 1em;
	width: auto;
}

#text-intro {
	color: red;
	background-color: gray;
	border: 3px solid red; 
	margin: 2em;
	padding: 1em;
	width: auto;
}